<launch>
    <!-- This version uses the openai_ros environments -->
    <rosparam command="load" file="$(find openai_turtlebot3)/config/turtlebot3_training_params.yaml" />
    <!-- Launch the training system -->
    <node pkg="openai_turtlebot3" name="turtlebot3_world" type="start_sarsa.py" output="screen"/>
</launch>
